.sidenav {
    width: 300px; /* Define uma largura fixa */
}

.sidenav-menu-btn {
    width: calc(100% - 30px); /* Ajusta a largura para compensar o padding e não ultrapassar a borda */
    text-align: left;
    color: black !important;
    display: flex;
    align-items: center;
    padding: 12px 10px; /* Ajusta o padding para não interferir na largura */
    margin: 5px 0;
    border-radius: 8px;
    box-sizing: border-box; /* Inclui padding e borda dentro da largura total */
}