    /* Estilo do cabeçalho */
    .header {
        background-color: #f8f8f8;
        padding: 20px;
        margin-bottom: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    /* Estilo dos cartões */
    .card {
        transition: transform 0.2s;
        /* Efeito de transição suave */
        border-radius: 10px;
        /* Bordas arredondadas para o cartão */
    }

    .card:hover {
        transform: scale(1.05);
        /* Aumenta o tamanho do cartão ao passar o mouse */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        /* Sombra mais pronunciada */
    }

    .card-title,
    .card-content p,
    .card-price {
        color: black;
        /* Define a cor preta para os textos */
    }

    .card-price {
        font-weight: bold;
        /* Destaque para o preço */
        font-size: 1.2em;
        /* Aumenta o tamanho da fonte do preço */
        margin-top: 10px;
        /* Espaço acima do preço */
    }

    /* Remove underline de links dentro dos cartões */
    .card a {
        text-decoration: none;
        color: inherit;
        /* Faz o texto herdar a cor do elemento pai */
    }