.black-text {
    color: black;
}

.orange-text {
    color: #ff9800; /* Cor padrão do Materialize para laranja */
}

.grey-text {
    color: grey;
}

.input-field {
    margin-top: 20px;
    width: 100%;
}

button {
    font-size: calc(0.9em + 0.6vw); /* Ajuste o tamanho da fonte com base na largura da viewport */
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px; /* Mantém o espaçamento interno */
}

button:hover {
    background-color: #e68a00; /* Laranja mais escuro ao passar o mouse */
}

.comprar-btn {
    width: 45%; /* O botão ocupará toda a largura em telas menores */
    max-width: 250px; /* Defina um limite máximo de largura */
    height: auto; /* Adapta a altura automaticamente */
}

@media (min-width: 600px) {
    .comprar-btn {
        width: 45%; /* Define a largura em telas maiores */
    }
}

