/*ERRO 500*/

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    max-width: 600px;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h1 {
    color: #dc3545;
    font-size: 36px;
    margin-bottom: 20px;
}
p {
    font-size: 18px;
    margin-bottom: 20px;
}
.btn {
    display: inline-block;
    background-color: grey;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}
.btn:hover {
    background-color: #e60000;
}