
.btn {
    border-radius: 8px;
}

.btn.grey.lighten-3 {
    background-color: #e0e0e0; /* Cor de fundo correspondente ao grey lighten-3 */
    color: black; /* Garante que a cor do texto dos botões seja preta */
}

/* Caso precise de ajuste no dropdown */
.dropdown-content a {
    color: black; /* Define a cor do texto nos itens do dropdown */
}

/* Estilo para os botões do sidenav em telas menores */
.sair-botao {
    display: block;
    width: 100%; /* Faz o botão ocupar toda a largura */
    box-sizing: border-box; /* Inclui padding e borda dentro da largura total */
    margin: 0; /* Remove margens extras */
    text-align: center; /* Centraliza o texto */
    position: absolute;
    bottom: 0;
}

.sidenav-menu-btn {
    color: black !important; /* Define cor apenas para os botões do sidenav */
    margin: 5px 0; /* Define uma margem vertical menor entre os botões */
    padding: 10px 0; /* Define um espaçamento vertical confortável dentro do botão */
}

.sidenav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start; /* Alinha os itens no início */
}